.LoginPlanet {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 25px;
}

.LoginContainer, .Login {
  height:100%;
  width:100%;
}

.Login {
  position: absolute;
  top:0;
  left:0;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

  .Block {

  }
}