@import 'variables/variables';
@import 'mixins/mixins';
@import "utils";

/**********
*  Components
***********/

@import 'components/progress';

/**********
*  Modules
***********/

@import "modules/app/app-center";
@import "modules/auth/auth";
@import "modules/button/button";
@import "modules/menu/bottom-menu";
@import "modules/menu/top-menu";
@import "modules/notification/notification-block";
@import "modules/popup/popup";
@import "modules/table/table";

@include scrollbars(.5em, darken($gray-dark,10));

@import "reset";


html {
  background: $gray-light;
  height:100%;
}

#app {
  height: 100%;

  & > :first-child {
    height:100%;
  }
}