@import 'variables/variables';
@import 'mixins/mixins';
@import "utils";

/**********
*  Components
***********/

@import 'components/progress',
  'components/block',
  'components/aside-layout';

/**********
*  Modules
***********/

@import "modules/auth/auth";
@import "modules/button/button";
@import "modules/table/table";
@import "modules/list/list";

@include scrollbars(.5em, darken($gray-dark,10));

@import "reset";

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800,300);

html {
  background: $gray-light;
  height:100%;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
  line-height:16px;
}

body {
  background: url("../static/img/space.jpg") center;
  background-size: cover;
  min-width: 1000px;
}

#app {
  height: 100%;

  & > :first-child {
    height:100%;
  }
}