@import "mixins/mixins";

a {
  text-decoration: none;
}

body {
  margin: 0;
  height:100%;
  //overflow: hidden;
}

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
  color: inherit;

  /**
   * Improve readability when focused and also mouse hovered in all browsers.
   */

  &:active,
  &:hover {
    outline: 0;
  }
}

/**
 * Remove border when inside `a` element in IE 8/9/10.
 */

img {
  border: 0;
}

ul {
  @include list-unstyled;
}

* {
  box-sizing: border-box;
}