@import './variables/variables';

.text-center {
  text-align: center;
}

.cursor-pointer {
  cursor: pointer;
}

*[disabled] {
  cursor: not-allowed!important;
}

.color-error {
  color: red;
}

.font-size-small {
  font-size: $font-size-small;
}

.margin-bottom-inner {
  margin-bottom: $spacing-inner;
}

.margin-bottom-gutter {
  margin-bottom: $spacing-gutter;
}

.text-italic {
  font-style: italic;
}