@import '../../../../scss/mixins/mixins';
@import '../../../../scss/variables/variables';

.Base {
  @include block();
  height:100%;
  display: flex;
  flex-direction: column;

}

.BaseName {
  color: $color-yelow;
}

.BaseBuildings {
  overflow-x: hidden;
  overflow-y: auto;
}