@import '../../../../scss/mixins/mixins';
@import '../../../../scss/variables/variables';

.Base {
  height: 100%;
  overflow-y: auto;
  @include block();
}

.BaseBuildings {
  //@include block();
}

.BuildingDetails {
  .BuildingName {
    color: $color-yelow;
    font-size: $font-size-medium;
  }

  .BuildingRequirements {
    ul {
      padding-left: $spacing-gutter;
    }
  }
}