$darken-factor: 40;

$gray-dark: #333;
$gray-light: #ddd;
$gray-light-hover: darken($gray-light, 40);
$bg-color: #000;

$blue-medium: #0D313F;
$color-dark: #0A222C;
$color-darker: #07181F;

$error-color: #b22;


$color-yelow: #93D31D;
$color-blue: #2897C1;