@import "colors";

$spacing-inner: 5px;
$spacing-gutter: 10px;

$border-radius-base: 5px;



$z-index-notifications: 500;
$z-index-bottom-menu: 100;


$font-weight-thin: 200;
$font-weight-normal: 400;
$font-weight-medium: 600;
$font-weight-bold: 800;
$font-weight-bolder: 900;

$font-size-tiny: 10px;
$font-size-small: 12px;
$font-size-base: 15px;
