@import "colors";

$spacing-inner-small: 2px;
$spacing-inner: 5px;
$spacing-gutter: 10px;

$border-radius-base: 5px;



$z-index-notifications: 500;
$z-index-bottom-menu: 100;


$font-weight-thin: 300;
$font-weight-normal: 400;
$font-weight-medium: 600;
$font-weight-bold: 700;
$font-weight-bolder: 800;

$font-size-tiny: 10px;
$font-size-small: 12px;
$font-size-base: 15px;
$font-size-medium: 18px;
$font-size-large: 20px;


/*--------------------------------------*\
  Media queries
\*--------------------------------------*/

$xs:     480px;
$xs-min: 0;

$sm:     768px;
$sm-min: $sm;

$md:       992px;
$md-min:   $md;

$lg:         1370px;
$lg-min:     $lg;

$xs-max: ($sm-min - 1);
$sm-max: ($md-min - 1);
$md-max: ($lg-min - 1);

$xs-up: 'screen';
$sm-up: '(min-width: #{$sm-min})';
$md-up: '(min-width: #{$md-min})';
$lg-up: '(min-width: #{$lg-min})';

$xs-only: '(max-width: #{$xs-max})';
$sm-only: '(min-width: #{$sm-min}) and (max-width: #{$sm-max})';
$md-only: '(min-width: #{$md-min}) and (max-width: #{$md-max})';
$lg-only: $lg-up;
