@import '../../scss/mixins/mixins';
@import '../../scss/variables/variables';

$left-width: 300px;

.AppContainer {
    display: flex;
    flex-direction: column;
    height:100%;
}

.App {
    display: flex;
    align-items: stretch;
    height:100%;
    position: relative;
    flex-shrink: 1;
    justify-content: center;
    padding: 0 $spacing-gutter;
    overflow: auto;

    width: 45%;
    @media #{$md-up} {
        width: 100%;
    }

}

.AppLeftColumn {
    padding: $spacing-gutter;
    width: 20%;
    @media #{$md-up} {
        width: $left-width;
    }
    margin-right: $spacing-gutter;
    flex-shrink: 0;
}

.AppRightColumn {
    padding: $spacing-gutter;
    margin-left: $spacing-gutter;
    flex-shrink: 0;
    width: 20%;
    @media #{$md-up} {
        width: $left-width;
    }
}

.AppCenter {
    flex-shrink: 1;
    @media #{$md-up} {
        padding-top: $spacing-gutter*2;
        width: 100%;
        max-width: 1000px;
    }
}

.AppNotifications {
    position: absolute;
    right:$spacing-gutter;
    bottom: 70px;
    width: 300px;
}
