@import '../../scss/mixins/mixins';
@import '../../scss/variables/variables';

$item-size: 100px;

.BottomMenu {
  width:100%;
  background-image: url("../../static/img/layout/barre-basse.png");
  background-size: 100% 100%;
  height: 67px;
  color: #fff;
  z-index: $z-index-bottom-menu;
}

.BottomMenuBlockRight {
  color: $color-blue;
  padding:5px;
  height: 8px;
  width: 42%;
  float: right;
  margin-top: 15px;
  font-size: $font-size-small;
}