@import '../../scss/mixins/mixins';
@import '../../scss/variables/variables';

.BottomMenu {
  position: absolute;
  bottom:0;
  height: 20px;
  width: 100%;
  color: wheat;
}

.BottomMenuVersion {
  text-align: center;
}

.BottomMenuLastAction {
  position: absolute;
  font-size: 0.8em;
  right:5px;
  bottom:5px;
}
