@import '../../scss/variables/variables';
@import '../../scss/mixins/mixins';

.TopMenu {
  @include list-unstyled();

  left:0;
  right:0;
  padding: $spacing-inner $spacing-gutter*3;
  color: #fff;
  background-image: url("../../static/img/layout/barre-haute.png");
  background-size: 100% 100%;

  display: flex;
  justify-content: space-between;

  a {
    @include link(#fff);
    padding: 0 $spacing-inner;
  }
}
