@import '../../../../../scss/mixins/mixins';
@import '../../../../../scss/variables/variables';

.Notification {
  @include block-small();
  margin-top: $spacing-inner;
  cursor: pointer;
  opacity: 1;
  animation: fade 1s linear;
}

@keyframes fade {
  0% { opacity: 0 }
  100% { opacity: 1 }
}