@import '../variables/variables';

@mixin btn-reset {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-weight: inherit;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  transition: border 200ms ease, color 200ms ease, background 200ms ease;
  user-select: none;
  border: 1px solid transparent;
  background: transparent;
}

@mixin btn-variant ($color, $background, $border-color, $color-hover: $color, $background-hover: darken($background, $darken-factor), $border-color-hover: $background-hover) {
  color: $color;
  background-color: $background;
  border-color: $border-color;

  &:hover,
  &:focus,
  &:active {
    color: $color-hover;
    background-color: $background-hover;
    border-color: $border-color-hover;
  }

}