@import '../../variables/variables';

$item-size: 100px;

.bottom-menu {
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 0;
  width: 100%;
  z-index: $z-index-bottom-menu;
}

.bottom-menu__container {
  background: #000;
  display: flex;
  justify-content: center;
  border-radius: $border-radius-base;
  padding: 2px 5px;
}

.bottom-menu__item {
  height: $item-size;
  width: $item-size;
  margin: $spacing-inner;
  background-color: $gray-light;
  border-radius: $border-radius-base;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}