@import '../../variables/variables';

.table {
  border-collapse: collapse;
  width: 100%;
  th {
    color: $color-yelow;

    &:not(:last-child) {
      //border-right: 1px solid $color-blue;
    }
  }

  th,
  td {
    padding: $spacing-inner-small;
  }

  thead {
    tr {
      background-color: darken($color-blue, 40);
    }
  }

  tbody {
    tr {
      border-bottom: 1px solid $color-dark;
      &:hover {
        transition: background 500ms ease;
        background-color: darken($color-blue,40);
      }

      &:not(:hover) {
        transition: background 500ms ease;
        background-color: darken($color-blue,30);
      }
    }
  }
}