<div class="container login-form" ng-controller="LoginController as LoginCtrl">
    <div class="block text-center"><h1>MiddleWar V2</h1></div>
    <div class="block">
        <div class="wrapper text-center m-t m-b">
            <strong>{{ LoginCtrl.version }}</strong>
        </div>
        <div class="wrapper text-center m-t m-b">
            <strong>Sign in to continue</strong>
        </div>

        <form name="form" class="form-validation" ng-submit="LoginCtrl.login()">
            <div class="list-group list-group-sm">
                <div class="list-group-item">
                    <input type="text"
                           id="username"
                           name="username"
                           placeholder="Username"
                           class="form-control no-border"
                           ng-model="LoginCtrl.username"
                           autofocus="true"
                           required>
                </div>

                <div class="list-group-item">
                    <input type="password"
                           id="password"
                           name="password"
                           placeholder="Password"
                           class="form-control no-border"
                           ng-model="LoginCtrl.password"
                           required>
                </div>
            </div>

            <button type="submit"
                    class="btn btn-lg btn-success btn-block"
                    ng-disabled="form.$invalid || loading">
                <span ng-hide="LoginCtrl.loading">Log in</span>
                <span ng-show="LoginCtrl.loading">Loading...</span>
            </button>
            <button type="button"
                    ng-click="LoginCtrl.register()"
                    class="btn btn-lg btn-success btn-block"
                    ng-disabled="form.$invalid || loading">
                <span ng-hide="LoginCtrl.loading">Register</span>
                <span ng-show="LoginCtrl.loading">Loading...</span>
            </button>
        </form>
    </div>
</div>

<toaster-container></toaster-container>
