.BaseBuildingsList {
    hr {
        margin: 20px 0;
    }
    .BaseBuildingsListItem {
        font-weight: bold;
        span {
            cursor: pointer;

            &:hover {
                color: orange;
            }
        }
    }
    .BaseBuildingsListTitle {
        color: orange;
    }
}