@import '../../../../scss/mixins/mixins';
@import '../../../../scss/variables/variables';

$header-height: 45px;
$building-width: 100px;
$building-hieght: 100px;

.Building {
  @include block-light();
  display: flex;
  flex-direction: column;
  margin: $spacing-inner;
  width: $building-width;
  padding: 0;
  position: relative;
  &:hover {
    .BuildingHeader {
      display: flex;
    }
  }
}

.BuildingHeader {
  position: absolute;
  width: 100%;
  height:$header-height;
  display: none;
  font-size: $font-size-tiny;
  justify-content: flex-end;
}

.BuildingName {
  padding: $spacing-inner;
  width: 100%;
  text-align: left;
}

.BuildingAction {
  padding: $spacing-inner-small;
}

.BuildingBody {
  height: $building-hieght;
  background-color: $color-dark;
}

.BuildingImage {
  max-width: 100%;
  height: 100%;
  text-align: center;

  img {
    max-width: 100%;
    max-height: 100%;
  }
}

.BuildingHeader {
  background-color: $color-darker;
  font-weight: $font-weight-bold;
  color: $color-yelow;
}

.BuildingLevel {
  text-align: center;
  width: 100%;
}