@import '../../../../scss/mixins/mixins';
@import '../../../../scss/variables/variables';

.Building {
  @include block-light();
  display: flex;
  flex-direction: column;
  margin: $spacing-inner;
  flex-grow: 1;
  width: 300px;
  padding: 0;
}

.BuildingHeader {
  padding: $spacing-inner;
}


.BuildingBody {
  min-height: 180px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  position: relative;
  flex-grow: 1;

  background-color: $color-dark;

  p {
    margin:0;
  }
}

.BuildingRequirements {
  background-color: $color-dark;
  ul {
    padding-left: $spacing-inner;
  }
}

.BuildingImage {
  width: 40%;
  padding: $spacing-inner 0;
  img {
    width: 100%;
  }
}

.BuildingStats {
  padding: $spacing-inner;

  p {
    margin-bottom: $spacing-inner;
  }

  ul {
    text-align: left;
    margin-bottom: $spacing-inner;
  }
}

.BuildingFooter,
.BuildingHeader {
  background-color: $color-darker;
  font-weight: $font-weight-bold;
  color: $color-yelow;
}

.BuildingFooter {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
}

.BuildingLevel {
  text-align: center;
  width: 100%;
}

.BuildingAction {
  padding: $spacing-inner;
}