@import '../../variables/variables';
@import '../../mixins/mixins';

$padding-vertical-base: 5px;
$padding-horizontal-base: 15px;

$button-default-color: #fff !default;
$button-default-bg: $gray-dark !default;

.button,
button {
  @include btn-reset;
  @include btn-variant($color: $button-default-color, $background: $button-default-bg, $border-color: transparent);

  padding: $padding-vertical-base $padding-horizontal-base;

  border-radius: $border-radius-base;
  border: 1px solid transparent;

  &:hover,
  &:focus,
  &:active {
    text-decoration: none;
    outline: 0;
  }

  &[disabled] {
    cursor: not-allowed;
    pointer-events: none;
    opacity: .6;
  }

}

.button--primary { @include btn-variant($color: #38CAFF, $background: transparent, $border-color: #38CAFF, $color-hover: $button-default-color, $background-hover: darken(#38CAFF, $darken-factor), $border-color-hover: transparent); }
.button--ghost-default { @include btn-variant($color: $button-default-bg, $background: transparent, $border-color: $button-default-bg, $color-hover: $button-default-color, $background-hover: darken($button-default-bg, $darken-factor), $border-color-hover: transparent); }
