@import '../variables/variables';
@import '../mixins/mixins';

.Block {
  @include block();
}

.BlockTitle {
  text-align: center;
  color: $color-yelow;
  font-weight: $font-weight-bold;
  font-size: $font-size-large;
  text-transform: uppercase;
  margin-bottom: $spacing-gutter;
}