@mixin icon() {
  width: 20px;
  height: 20px;
  display: inline-block;
  cursor: pointer;
  background-position: bottom;
  background-size: cover;
  &:hover {
    background-position: top;
  }
}

.IconUpgrade {
  @include icon();
  background-image: url("../static/img/icons/icon_upgrade_32.png");
}

.IconBuild {
  @include icon();
  background-image: url("../static/img/icons/icon_construire_32.png");
}

.IconSmall {
  width: 16px;
  height: 16px;
}