@import "../variables/variables";
.progress {
  border: 1px solid $gray-dark;
  i { line-height: 3.5em; }
  position: relative;
  overflow: hidden;
}

.progress-text {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  color: darken($gray-light, 40);
}

.progress-bar {
  background-color: $gray-dark;
  height: 100%;
  transition: width 1s linear;
}