@import '../../../../scss/mixins/mixins';
@import '../../../../scss/variables/variables';

.Item {
  @include block-light();
  width: 50px;
  height: 50px;
  overflow: hidden;
  display: inline-block;
}

.ItemEmpty {
  border-style: dashed;
}