@import '../../../../../scss/variables/variables';


$planet-size: 240px;
$planet-z-index: 10;

.PlanetBlock {
  position: relative;
  width: 350px;
  height: 400px;
}

.Planet,
.PlanetCircles {
  border-radius: 100%;
  transform: translate(-50%, calc(-50% + 20px));
  transform-origin: 0 0;
  position: absolute;
}

.Planet {
  background: url("../../../../../static/img/layout/planete-04.png") center;
  background-size: cover;
  width:$planet-size;
  height:$planet-size;
  z-index: $planet-z-index;

  top:50%;
  left:50%;
}

.PlanetCircles {
  width: 500px;
  height: 500px;

  top:50%;
  left:50%;
}


@keyframes rotating {
  from {
    transform: translate(-50%, calc(-50% + 20px)) rotate(0deg);
  }
  to {
    transform: translate(-50%, calc(-50% + 20px)) rotate(360deg);
  }
}

.PlanetCircle1 {
  background-image: url("../../../../../static/img/layout/centre01.png");
}
.PlanetCircle2 {
  background-image: url("../../../../../static/img/layout/centre02.png");
  animation: rotating 300s linear infinite;
  transform-origin: 50% 50%;
}
.PlanetCircle3 {
  background-image: url("../../../../../static/img/layout/centre03.png");
}
.PlanetCircle4 {
  background-image: url("../../../../../static/img/layout/centre04.png");
  animation: rotating 120s linear infinite;
  animation-direction: reverse;
  transform-origin: 50% 50%;
}
.PlanetCircle5 {
  background-image: url("../../../../../static/img/layout/centre05.png");
  animation: rotating 120s linear infinite;
  animation-direction: reverse;
  transform-origin: 50% 50%;
}
.PlanetCircle6 {
  background-image: url("../../../../../static/img/layout/centre06.png");
  animation: rotating 120s linear infinite;
  transform-origin: 50% 50%;
}
.PlanetCircle7 {
  background-image: url("../../../../../static/img/layout/centre07.png");
  animation: rotating 240s linear infinite;
  animation-direction: reverse;
  transform-origin: 50% 50%;
}

.PlanetBlockRight {
  width: 370px;
  margin-left: $spacing-gutter;


  transform: translate($planet-size / 2 + 80px, calc(-100% + 120px));
  transform-origin: bottom left;
  top:50%;
  left:50%;
  position: absolute;
  z-index: $planet-z-index + 10;

  .PlanetBlockContent {
    border-left: 1px solid $color-blue;
    margin-left: $spacing-gutter;
    padding: $spacing-inner 0 $spacing-inner $spacing-gutter;
  }
}


.PlanetBlockLeft {
  $block-width: 370px;
  width: $block-width;
  margin-right: $spacing-gutter;

  transform: translate(-$planet-size / 2 - 80px - $block-width, calc(-100% + 120px));
  transform-origin: bottom right;
  top:50%;
  left:50%;
  position: absolute;
  z-index: $planet-z-index + 10;
  text-align: right;

  .PlanetBlockContent {
    border-right: 1px solid $color-blue;
    margin-right: $spacing-gutter;
    padding: $spacing-inner $spacing-gutter $spacing-inner 0;
  }
}




.PlanetBlockContent {
  color: $color-blue;
  font-weight: $font-weight-medium;
}

.PlanetBlockTitle {
  font-weight: $font-weight-medium;
  margin-bottom: $spacing-inner;
  color: $color-yelow;
}

.CircleProgress {
  $circleSize: 40px;

  font-weight:$font-weight-normal;
  color: $color-yelow;
  text-align: center;
  line-height: $circleSize;

  display: inline-block;
  width: $circleSize;
  height: $circleSize;
  border-radius: 50%;
  border: 1px solid $color-blue;
  margin-right: $spacing-inner;
}