<div class="top-menu">
    <div>
        <a data-ng-class="{'active': app.isState('app.home')}" ui-sref="app.home">
            <i class="fa fa-home"></i>
            <span class="font-bold">{{ 'app.menu.home' | translate}}</span>
        </a>
    </div>
    <div>
        <span ng-controller="BasementResourceController as ctrl">
            <span ng-repeat="(name, amount) in ctrl.selectedBasement.resources">
                {{ name | translate }}: {{ amount }}
            </span>
        </span>
        <a  data-ng-class="{'active': app.isState('app.profile')}" ui-sref="app.profile">
            <i class="fa fa-user"></i>
            <span class="font-bold">{{ 'app.menu.myProfile' | translate }}</span>
        </a>
        <a ng-click="app.logout()" ui-sref="app.home">
            <i class="fa fa-lock"></i>
            <span>{{ 'app.menu.logout' | translate}}</span>
        </a>
        {{ app.version }}
        <span ng-repeat="language in app.availableLanguages">
            <label class="cursor-pointer">
                <input type="radio"
                       class="cursor-pointer"
                       ng-click="app.changeLanguage()"
                       ng-value="language"
                       ng-model="app.language">
                {{:: language }}
            </label>
        </span>
    </div>
</div>

<div class="app">
    <div class="app-left"></div>
    <div class="app-center">

        <div class="popup" mw-draggable ng-if="app.openPopup">
            <div class="popup__title-bar">
                <div class="popup__title">
                    Popup 1
                </div>
                <div class="popup__actions">
                    <span class="fa fa-close" ng-click="app.openPopup = false"></span>
                </div>
            </div>
            <div class="popup__content" ng-mousedown="$event.stopPropagation()">
                Popup content 1
            </div>
        </div>

        <div ui-view="center"></div>
    </div>
    <div class="app-right">
        <div ui-view="right"></div>
    </div>
</div>

<div class="notification-block" ng-controller="NotificationController as ctrl">
    <div class="notification-block__item" ng-repeat="notif in ctrl.notifications">
        {{ notif.content }}
    </div>
</div>

<div class="bottom-menu">
    <div class="bottom-menu__container">
        <div class="bottom-menu__item" ng-click="app.openPopup = !app.openPopup">
            Toggle popup
        </div>
        <div class="bottom-menu__item" ng-click="app.sendNotif()">
            Send notification
        </div>
        <div class="bottom-menu__item" ng-click="app.consumeResources()">
            Consume 100 metal
        </div>
        <div class="bottom-menu__item">
            Menu 4
        </div>
    </div>
</div>

<toaster-container></toaster-container>
