@import '../../variables/variables';

$popup-width: 50%;
$popup-height: 400px;

.popup {
  width: $popup-width;
  position: absolute;
  border: 1px solid $gray-dark;
}

.popup__title-bar {
  background: $gray-dark;
  position: relative;
  padding: $spacing-inner;
  cursor: move;
}

.popup__title {
  color: #fff;
}

.popup__actions {
  position: absolute;
  right: $spacing-inner;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;

}

.popup__content {
  height: $popup-height;
  background-color: $gray-light;
}